
.external {
    color: white; /*declaration: property; */
    background-color: red;
    text-align: center;
    font-weight: 10px;
    height: 45px;
    font-size: 40px;
  }

.oddNumber {
  background-color: rgb(255, 145, 145);
  font-family: Verdana, "DejaVu Sans", sans-serif;
}
  
#two {
  color: blue;
  font-size: 36px;
}

#four {
  font-size: 24px;
  font-weight: bold;
  background-color: rgb(150, 255, 110);
}

.left, .right {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
  background-color: black;
  color: white;
}

.right {
  background-color: yellow;
  color: black;
}

.avatar.proportioned {
  width: 300px;
  height:fit-content;
}

.avatar.distorted {
  width: 200px;
  height: 400px;
}

div p {
  background-color: yellow;
  color: red;
  font-size: 20px;
  text-align: center;
}